spring:  application:    name: pos-api-gateway

server:
  port: 8765
  
zuul:
  routes:
    administrator:
      service-id: pos-administrator
      path: /pos-administrator/**    freebie-roulette:      service-id: pos-freebie-roulette      path: /pos-freebie-roulette/**    product-movement:      service-id: pos- product-movement      path: /pos-product-movement/**